/*
#DBEAFF
#F3F4F6
*/
.ipt-message {
  background: #F3F4F6 !important;
  border: 1px solid rgba(0,0,0,.1) !important;
}
.ipt-message:hover {
  box-shadow: 0 0 1px 3px rgba(0,0,0,.1) !important;
}
.bg-chat-not-me {
  background: #F3F4F9;
}
.bg-chat-me {
  background: #DBEAFF;
}
.bg-chat-not-me, .bg-chat-me {
  width: 300px;
}